node_modules/
dist/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.plugins.json
.gradle/
local.properties
.DS_Store
*.apk
*.aab
frontend-source/node_modules
